.main {
    margin-top: 30px;
    padding: 10px;
}

.about-img {
    max-width: 400px;
    height: auto;
    margin: 5px 10px;
}

.about-img img {
    max-width: 100%;
}

.about-desc {
    height: 100%;
}

.about-title {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .about-desc {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }
}