@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --orage-color: #6483cc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

section {
    padding: 20px 10px;
}

.header {
    /* position: fixed;
    top: 0; */
    width: 100%;
    z-index: 9999;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header .pages {
    display: flex;
    justify-content: space-around;
}

.header .pages .header-link {
    margin: 0 15px;
}

.header-pseudo {
    width: 100%;
    height: 80px;
}

.header-inner {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-link {
    font-size: 1.2rem;
    font-weight: bolder;
}

.header-logo img {
    max-height: 50px;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-custom:hover .dropdown-content {
    display: block;
}

.clef {
    max-width: 100%;
}

.navbar-brand {
    max-width: 40px;
}

.video-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/video-sec-bg.jpg") no-repeat;
    background-size: 100%;
    margin: 20px;
    padding: 50px;
    background-position: 100%;
}

.video-sec video {
    max-width: 70%;
    margin: 10px 0;
}

.about-sec {
    padding: 25px 0;
    color: white;
    background-color: var(--orage-color);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
}

.discover-abt {
    transition: .3s;
    cursor: pointer;
}

.discover-abt i {
    margin: 0 10px;
}

.discover-abt:hover {
    scale: 1.1;
    text-decoration: underline;
}

.discover-abt a {
    color: white;
}

.about-sec .wrapper-abt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.hover-btn {
    padding: 5px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    background-image: linear-gradient(to top, var(--orage-color) 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: .5s;
}

.hover-btn:hover {
    background-position: 0 100%;
    color: white;
}

.concerts-sec,
.merchandise-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-btn {
    width: 90px;
    height: 30px;
    background-color: var(--orage-color);
    color: white;
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.buy-btn:hover {
    width: 110px;
    color: white;
}

.merchandise-sec .row {
    width: 99%;
}

#go-up {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: var(--orage-color);
    color: white;
    font-size: 1.5rem;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(120%, 0px);
    transition: all 0.3s ease 0s;
}

.benefits {
    margin: 10px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.benefits p {
    font-size: 1.05rem;
    text-align: center;
}

.benefits h1 {
    text-align: center;
    font-size: 1.6rem;
}

.benefit-pic {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    border: 2px solid var(--orage-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--orage-color);
    transition: .3s;
}

.benefits:hover {
    scale: 1.1;
}

.benefits:hover .benefit-pic {
    border: 0;
    background-color: var(--orage-color);
    color: white;
}

.album{
    width: 100%;
    margin: 10px;
    display: flex;
}

.album img{
    max-width: 100px;
    height: auto;
    margin: 5px 10px 5px 0;
}

.album .description{
    width: 100%;
}

.album .play-btn{
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums .header-listen-on{
    width: 100%;
    display: flex;
    justify-content: center;
}

.albums .listen-on-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.albums .listen-btn{
    transition: .3s;
}

.albums .listen-btn:hover{
    scale: 1.1;
    transition: .3s;
}

.albums .listen-btn .bi{
    transition: .3s;
}

.albums .listen-btn:hover .bi-spotify{
    color: #1DB954;
}

.albums .listen-btn:hover .bi-apple{
    color: #555555;
}

.albums .listen-btn:hover .bi-youtube{
    color: #c4302b;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--orage-color);
    font-size: 1.2rem;
    color: white;
}

footer .row {
    width: 90%;
    padding: 15px 0;
    justify-content: center;
}

footer .row .col-sm ul li a {
    text-decoration: none;
    color: white;
}

footer .row .col-sm ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .header-logo {
        display: none;
    }

    .video-sec video {
        max-width: 100%;
    }
}